<%- include('../adminheader/adminheader') %>  
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order List </h2>
                    
                </div>
                <div>
                    <input type="text" placeholder="Search order ID" class="form-control bg-white">
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Date</th>
                                    <th scope="col" class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (orderData.length > 0) { %>
                                    <% for (let i = 0; i < orderData.length; i++) { %>
                                <tr>
                                    
                                    <td><%= orderData[i].orderId %></td>
                                    <td><%= orderData[i].email %></td>
                                    <td>Rs: <%= orderData[i].total %></td>
                                    <td><span class="badge rounded-pill alert-warning"><%= orderData[i].orderstatus %></span></td>
                                    <td><%= new Date(orderData[i].date).toLocaleDateString() %></td>
                                    <td class="text-end">
                                        <a href="/admin/orderdetails?id=<%= orderData[i].orderId %>" class="btn btn-md rounded font-sm">Detail</a>
                                        <div class="dropdown">
                                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="/admin/orderdetails?id=<%= orderData[i].orderId %>" >View detail</a>
                                                <a class="dropdown-item" href="#">Edit info</a>
                                                <a class="dropdown-item text-danger" href="#">Delete</a>
                                            </div>
                                        </div> <!-- dropdown //end -->
                                    </td>
                                </tr>
                                <% } %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="5" class="text-center">No Orders Found</td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-container">
                <a class="pagination-link" href="?page=<%= previous %>">Previous</a>

                <% for(let j=1; j<=totalPages; j++) { %>
                    <a class="pagination-link <%= currentPage === j ? 'pagination-active' : '' %>"
                        href="?page=<%= j %>">
                        <%= j %>
                    </a>
                    <% } %>  

                        <a class="pagination-link" href="?page=<%= next %>">Next</a>
            </div>

            <style>
                .pagination-container {
                    display: flex;
                    justify-content: center;
                    margin-top: 20px;
                }
            
                .pagination-link {
                    color: #1d764f;
                    text-decoration: none;
                    padding: 8px 12px;
                    margin: 0 5px;
                    border: 1px solid #18744b;
                    border-radius: 4px;
                    transition: background-color 0.3s;
                }
            
                .pagination-link:hover {
                    background-color: #206e3b;
                    color: #fff;
                }
            
                .pagination-active {
                    background-color: #176545;
                    color: #fff;
                }
            </style>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/static/adminasset/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/static/adminasset/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/static/adminasset/js/vendors/select2.min.js"></script>
    <script src="/static/adminasset/js/vendors/perfect-scrollbar.js"></script>
    <script src="/static/adminasset/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/static/adminasset/js/main.js" type="text/javascript"></script>
</body>

</html>