<%- include('../adminheader/adminheader') %>  
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order detail</h2>
                    <p>Details for Order ID: <%= orderData.orderId %>
                    </p>
                </div>
            </div>
            <div class="card" id="products">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                            <span>
                                <i class="material-icons md-calendar_today"></i> <b>
                                    <%= orderData.date %>
                                </b>
                            </span> <br>
                            <small class="text-muted">Order ID: <%= orderData.orderId %></small>
                        </div>
                        <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                            <select id="orderStatusSelect" class="form-select d-inline-block mb-lg-0 mb-15 mw-200">
                                <% if (orderData.orderstatus=="Pending" ) { %>
                                    <option selected>
                                        <%= orderData.orderstatus %>
                                    </option>
                                    <option>Awaiting payment</option>
                                    <option>Shipped</option>
                                    <option>Delivered</option>
                                    <option>Cancelled</option>
                                    <% } %>

                                        <% if (orderData.orderstatus=="Awaiting payment" ) { %>
                                            <option selected>
                                                <%= orderData.orderstatus %>
                                            </option>
                                            <option>Pending</option>
                                            <option>Shipped</option>
                                            <option>Delivered</option>
                                            <option>Cancelled</option>
                                            <% } %>

                                                <% if(orderData.orderstatus=="Shipped" ) { %>
                                                    <option selected>
                                                        <%= orderData.orderstatus %>
                                                    </option>
                                                    <option>Awaiting payment</option>
                                                    <option>Delivered</option>
                                                    <option>Cancelled</option>
                                                    <% } %>

                                                        <% if(orderData.orderstatus=="Delivered" ) { %>
                                                            <option selected>
                                                                <%= orderData.orderstatus %>
                                                            </option>
                                                            <% } %>
                                                                <% if(orderData.orderstatus=="Cancelled" ) { %>
                                                                    <option selected>
                                                                        <%= orderData.orderstatus %>
                                                                    </option>
                                                                    <% } %>
                                                                        <% if(orderData.orderstatus=="Returned" ) { %>
                                                                            <option selected>
                                                                                <%= orderData.orderstatus %>
                                                                            </option>
                                                                            <% } %>
                                                                                <% if(orderData.orderstatus=="Return" )
                                                                                    { %>
                                                                                    <option selected>
                                                                                        <%= orderData.orderstatus %>
                                                                                    </option>
                                                                                    <option>Returned</option>
                                                                                    <% } %>
                            </select>
                            <input type="hidden" id="orderIdInput" value="<%= orderData.orderId %>">
                            <a class="btn btn-primary" href="#" id="saveButton">Save</a>
                            <a class="btn btn-secondary print ms-2" href="#"><i
                                    class="icon material-icons md-print"></i></a>
                        </div>
                    </div>
                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                    <script>
                        document.getElementById('saveButton').addEventListener('click', function () {
                            var newStatus = document.getElementById('orderStatusSelect').value;
                            var orderId = document.getElementById('orderIdInput').value;

                            // Display SweetAlert confirmation dialog
                            Swal.fire({
                                title: 'Are you sure?',
                                text: 'You are about to update the order status. Do you want to proceed?',
                                icon: 'warning',
                                showCancelButton: true,
                                confirmButtonText: 'Yes, update it!',
                                cancelButtonText: 'Cancel'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    // Send a fetch request to update the order status
                                    fetch('/admin/updateOrderStatus', {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json'
                                        },
                                        body: JSON.stringify({ newStatus: newStatus, orderId: orderId })
                                    })
                                        .then(response => {
                                            if (response.ok) {
                                                // Show success message
                                                Swal.fire('Updated!', 'Order status has been updated.', 'success').then(() => {
                                                    // Reload the page
                                                    location.reload();
                                                });
                                            } else {
                                                // Show error message
                                                Swal.fire('Error!', 'Failed to update order status.', 'error');
                                            }
                                        })
                                        .catch(error => {
                                            // Show error message
                                            Swal.fire('Error!', 'Failed to update order status.', 'error');
                                        });
                                }
                            });
                        });
                    </script>


                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="row mb-50 mt-20 order-info-wrap">
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-person"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Customer</h6>
                                    <p class="mb-1">
                                        <%= userData.name %> <br>
                                            <%= userData.email %> <br>
                                                <%= userData.mobile %>
                                    </p>
                                    <!-- <a href="#">View profile</a> -->
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-local_shipping"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Order info</h6>
                                    <p class="mb-1">
                                        Shipping: Fargo express <br> Pay method: <%= orderData.paymethod %> <br>
                                            OrderStatus: <%= orderData.orderstatus %> <br>
                                            Payment Status: <%=orderData.paymentstatus%>
                                    </p>
                                    <!-- <a href="#">Download info</a> -->
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-place"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Deliver to</h6>
                                    <p class="mb-1">
                                        <%= orderData.address%>
                                    </p>
                                    <!-- <a href="#">View profile</a> -->
                                </div>
                            </article>
                        </div> <!-- col// -->
                    </div> <!-- row // -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="40%">Product</th>
                                            <th width="20%">Unit Price</th>
                                            <th width="20%">Quantity</th>
                                            <th width="20%" class="text-end">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% let subtotal=0; %>
                                            <% for (let i=0; i < orderData.products.length; i++) { %>
                                                <tr>
                                                    <td>
                                                        <a class="itemside" href="#">
                                                            <div class="left">
                                                                <img src="/productimages/<%= orderData.products[i].imageurl %>"
                                                                    width="40" height="40" class="img-xs" alt="Item">
                                                            </div>
                                                            <div class="info">
                                                                <%= orderData.products[i].title %>
                                                            </div>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <%= orderData.products[i].pprice %>
                                                    </td>
                                                    <td>
                                                        <%= orderData.products[i].quantity %>
                                                    </td>
                                                    <% let total=orderData.products[i].pprice *
                                                        orderData.products[i].quantity %>
                                                        <% subtotal +=total %>
                                                            <td class="text-end">
                                                                <%= total %>
                                                            </td>
                                                </tr>
                                                <% } %>
                                                    <br>
                                                    <td colspan="4">
                                                        <article class="float-end">
                                                            <hr>
                                                            <dl class="dlist">
                                                                <dt>Subtotal:</dt>
                                                                <dd>Rs: <%= subtotal.toFixed(1) %>
                                                                </dd>
                                                            </dl>
                                                            <dl class="dlist">
                                                                <dt>Shipping cost:</dt>
                                                                <dd>Rs:00</dd>
                                                            </dl>
                                                            <dl class="dlist">
                                                                <dt>Discount:</dt>
                                                                <dd>Rs:<%= orderData.discount %></dd>
                                                            </dl>
                                                            <dl class="dlist">
                                                                <dt>Grand total:</dt>
                                                                <dd> <b class="h5">Rs: <%= orderData.total.toFixed(1) %>
                                                                            </b>
                                                                </dd>
                                                            </dl>

                                                            <dl class="dlist">
                                                                <dt class="text-muted">Status:</dt>
                                                                <dd>
                                                                    <span
                                                                        class="badge rounded-pill alert-success text-success">
                                                                        <% if (orderData.orderstatus==="pending" ) { %>
                                                                            Processing
                                                                            <% } else { %>
                                                                                <%= orderData.orderstatus %>
                                                                                    <% } %>
                                                                    </span>
                                                                </dd>
                                                            </dl>

                                                        </article>
                                                    </td>
                                                    </tr>
                                    </tbody>
                                </table>
                            </div> <!-- table-responsive// -->
                            <% if(orderData.paymentstatus=="PaymentSuccess") { %>
                                <button class="btn btn-primary" id="pdfButton">Download Invoice</button>
                            <%}%>
                            

                        </div> <!-- col// -->
                        <div class="col-lg-1"></div>



                        <!-- col// -->
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/static/adminasset/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/static/adminasset/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/static/adminasset/js/vendors/select2.min.js"></script>
    <script src="/static/adminasset/js/vendors/perfect-scrollbar.js"></script>
    <script src="/static/adminasset/js/vendors/jquery.fullscreen.min.js"></script>
    <script>
        $(document).ready(function ($) {
            $(document).on('click', '#pdfButton', function (event) {
                console.log("jjjjjjjj");
                var element = document.getElementById('products');
                var additionalInfo = "<br><br><h6 style='text-align: center;'>Thankyou...</h6>";
                element.innerHTML += additionalInfo;
                var heading = document.createElement('div');
                heading.innerHTML = "<h1 style='text-align: center;'>INVOICE</h1><h4 style='text-align: center;'>PurePetal <br> Luxurious Watches</h4> <br>";
                element.insertBefore(heading, element.firstChild); //
                let randomNumber = Math.floor(Math.random() * (10000000000 - 1)) + 1;
                var opt = {
                    margin: 0,
                    filename: 'invoice' + randomNumber + '.pdf',
                    html2canvas: { scale: 10 },
                    jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
                };

                html2pdf().set(opt).from(element).save();

            });
        });

    </script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>

    <!-- Main Script -->
    <script src="/static/adminasset/js/main.js" type="text/javascript"></script>
</body>

</html>